In [1]:
import pandas as pd
import numpy as np
import glob
import os.path

In [2]:
stationdf = pd.read_csv('datasets/station_information.csv')   

stationdf.head()

,Unnamed: 0,station_id,name,physical_configuration,lat,lon,altitude,address,capacity,is_charging_station,rental_methods,groups,obcn,short_name,nearby_distance,_ride_code_support,post_code,is_valet_station,cross_street
0,0,7000,Fort York Blvd / Capreol Ct,REGULAR,43.639832,-79.395954,NaN,Fort York Blvd / Capreol Ct,47,False,"['KEY', 'TRANSITCARD', 'CREDITCARD', 'PHONE']",['South'],647-643-9607,647-643-9607,500.0,True,NaN,NaN,NaN
1,1,7001,Wellesley Station Green P,ELECTRICBIKESTATION,43.664964,-79.383550,NaN,Yonge / Wellesley,23,True,"['KEY', 'TRANSITCARD', 'CREDITCARD', 'PHONE']","['E-Charging ', 'South']",416-617-9576,416-617-9576,500.0,True,M4Y 1G7,NaN,NaN
2,2,7002,St. George St / Bloor St W,REGULAR,43.667131,-79.399555,NaN,St. George St / Bloor St W,17,False,"['KEY', 'TRANSITCARD', 'CREDITCARD', 'PHONE']",['South'],647-643-9615,647-643-9615,500.0,True,NaN,NaN,NaN
3,3,7003,Madison Ave / Bloor St W,REGULAR,43.667018,-79.402796,NaN,Madison Ave / Bloor St W,15,False,"['KEY', 'TRANSITCARD', 'CREDITCARD', 'PHONE']","['South', 'Bloor St W / Annex']",647-631-4587,647-631-4587,500.0,True,NaN,NaN,NaN
4,4,7005,King St W / York St,REGULAR,43.648001,-79.383177,0.0,King St W / York St,22,False,"['KEY', 'TRANSITCARD', 'CREDITCARD', 'PHONE']","['South', 'Financial District']",647-643-9693,647-643-9693,500.0,True,NaN,NaN,NaN

In [3]:
"""
Cleaning:
The first column of `datasets/station_information.csv` corresponds to the label
so it's better to use the pd.read_csv(..., index_col=0) named argument to set the index 
to that column's values
"""

stationdf = pd.read_csv('datasets/station_information.csv', index_col=0)

stationdf.head()

,station_id,name,physical_configuration,lat,lon,altitude,address,capacity,is_charging_station,rental_methods,groups,obcn,short_name,nearby_distance,_ride_code_support,post_code,is_valet_station,cross_street
0,7000,Fort York Blvd / Capreol Ct,REGULAR,43.639832,-79.395954,NaN,Fort York Blvd / Capreol Ct,47,False,"['KEY', 'TRANSITCARD', 'CREDITCARD', 'PHONE']",['South'],647-643-9607,647-643-9607,500.0,True,NaN,NaN,NaN
1,7001,Wellesley Station Green P,ELECTRICBIKESTATION,43.664964,-79.383550,NaN,Yonge / Wellesley,23,True,"['KEY', 'TRANSITCARD', 'CREDITCARD', 'PHONE']","['E-Charging ', 'South']",416-617-9576,416-617-9576,500.0,True,M4Y 1G7,NaN,NaN
2,7002,St. George St / Bloor St W,REGULAR,43.667131,-79.399555,NaN,St. George St / Bloor St W,17,False,"['KEY', 'TRANSITCARD', 'CREDITCARD', 'PHONE']",['South'],647-643-9615,647-643-9615,500.0,True,NaN,NaN,NaN
3,7003,Madison Ave / Bloor St W,REGULAR,43.667018,-79.402796,NaN,Madison Ave / Bloor St W,15,False,"['KEY', 'TRANSITCARD', 'CREDITCARD', 'PHONE']","['South', 'Bloor St W / Annex']",647-631-4587,647-631-4587,500.0,True,NaN,NaN,NaN
4,7005,King St W / York St,REGULAR,43.648001,-79.383177,0.0,King St W / York St,22,False,"['KEY', 'TRANSITCARD', 'CREDITCARD', 'PHONE']","['South', 'Financial District']",647-643-9693,647-643-9693,500.0,True,NaN,NaN,NaN

In [4]:
"""
Cleaning:
There's a few columns we're interested in,
we could use pd.read_csv(..., usecols=['lat', 'lon', ...etc...]) but
instead we'll use pd.DataFrame.drop(columns=[...]) to discard the columns
we don't need
"""

unneeded_cols = ['altitude', 'capacity', 'is_charging_station', 'rental_methods', 'obcn', 'short_name', '_ride_code_support', 'is_valet_station', 'cross_street', 'groups', 'nearby_distance']

cleaned_df = stationdf.drop(columns=unneeded_cols)
cleaned_df

,station_id,name,physical_configuration,lat,lon,address,post_code
0,7000,Fort York Blvd / Capreol Ct,REGULAR,43.639832,-79.395954,Fort York Blvd / Capreol Ct,NaN
1,7001,Wellesley Station Green P,ELECTRICBIKESTATION,43.664964,-79.383550,Yonge / Wellesley,M4Y 1G7
2,7002,St. George St / Bloor St W,REGULAR,43.667131,-79.399555,St. George St / Bloor St W,NaN
3,7003,Madison Ave / Bloor St W,REGULAR,43.667018,-79.402796,Madison Ave / Bloor St W,NaN
4,7005,King St W / York St,REGULAR,43.648001,-79.383177,King St W / York St,NaN
...,...,...,...,...,...,...,...
860,8003,Tecumseth St / Tecumseth Pl,VAULT,43.642698,-79.404999,Tecumseth St / Tecumseth Pl,M5V 2R8
861,8008,Brookdale Ave / Yonge St,SMARTMAPFRAME,43.729920,-79.403727,Brookdale Ave/ Yonge St,M5M 1P3
862,8009,1 Shortt St,ELECTRICBIKESTATION,43.695930,-79.451901,1 Shortt St,M6E 2J6
863,8012,Cherry St / Polson St,VAULT,43.643321,-79.351209,Cherry St / Polson St,M5A 1A5
864,8013,Logan Ave / Eastern Ave - SMART,SMARTMAPFRAME,43.657966,-79.341512,Logan Ave / Eastern Ave - SMART,M4M 1C2

In [5]:
locations = cleaned_df[['lat', 'lon']]
locations

           lat        lon
0    43.639832 -79.395954
1    43.664964 -79.383550
2    43.667131 -79.399555
3    43.667018 -79.402796
4    43.648001 -79.383177
..         ...        ...
860  43.642698 -79.404999
861  43.729920 -79.403727
862  43.695930 -79.451901
863  43.643321 -79.351209
864  43.657966 -79.341512

[865 rows x 2 columns]

In [6]:
import requests

"""
Information:
requests.get(url, params=params) already URL-encodes the params dictionary keys/values
but we need to use multiple "markers" keys in our query string, so we need
to build up the list and use urllib.parse.urlencode() if we use a list
"""

import urllib.parse

In [7]:
google_static_maps_api = 'https://maps.googleapis.com/maps/api/staticmap'

markers = [(x, y) for x, y in zip(locations['lat'], locations['lon'])]
markers[:3]

[(43.639832, -79.395954),
 (43.66496415990742, -79.38355031526893),
 (43.66713121831853, -79.3995550638237)]

In [8]:
"""
Information:
------------------------------------------------
From https://developers.google.com/maps/documentation/maps-static/start#Markers
The markers parameter defines a set of one or more markers (map pins) at a set of locations. 
Each marker defined within a single markers declaration must exhibit the same visual style; if 
you wish to display markers with different styles, you will need to supply multiple markers parameters 
with separate style information.

The markers parameter takes set of value assignments (marker descriptors) of the following format:

markers=markerStyles|markerLocation1| markerLocation2|... etc.

The set of markerStyles is declared at the beginning of the markers declaration and consists of zero or 
more style descriptors separated by the pipe character (|), followed by a set of one or more locations 
also separated by the pipe character (|).
------------------------------------------------


latitude and longitude take 6 decimal places, hence the f'{:.6f}' format_spec in the following fstring

"""

center_lat = locations['lat'].mean()
center_lon = locations['lon'].mean()

params = {
#    'center': '43.651070,-79.347015',
    'center': '43.6742200301605, -79.39451997301134',
    'markers': 'color:blue|' + '|'.join([f'{lat:.6f},{lon:.6f}' for lat, lon in markers[:600]]),
    'format': 'jpg',
#    'scale': 1,
    'size': '400x400',
    'key': 'AIzaSyCj1qERpT2VI_hOsPonR25vG8b6A-yfMZ8'
}
len(markers)
center_lat, center_lon

(43.6742200301605, -79.39451997301134)

In [9]:
"""

center_lat = sum(lat for lat, lon in markers) / len(markers)
center_lon = sum(lon for lat, lon in markers) / len(markers)

(43.67422003016046, -79.3945199730113)
ChatGPT gave us this code and the answer is the same as yours, but takes longer to run. A+ Rob
"""

'\n\ncenter_lat = sum(lat for lat, lon in markers) / len(markers)\ncenter_lon = sum(lon for lat, lon in markers) / len(markers)\n\n(43.67422003016046, -79.3945199730113)\nChatGPT gave us this code and the answer is the same as yours, but takes longer to run. A+ Rob\n'

In [10]:
response = requests.get(google_static_maps_api, params=params)

if response.status_code == 200:
    with open('images/bike_stations.jpg', 'wb') as f:
        f.write(response.content)

In [11]:
encoded_params = urllib.parse.urlencode(params)

In [12]:
# f'{google_static_maps_api}?{encoded_params}'

In [13]:


def generate_ridership_csv():

    ridership_csv = glob.glob("datasets/bikeshare-ridership-2023/*.csv")

    ridership_df = pd.concat([pd.read_csv(file, encoding = 'cp1252') for file in ridership_csv], ignore_index = True)

    ridership_df.to_csv("datasets/combined_ridership.csv", index = False)

    print(" Combined CSV files successfully!")

if os.path.isfile("datasets/combined_ridership.csv"):
    print("Combined_ridership.csv file already exists")
else:
    generate_ridership_csv()

Combined_ridership.csv file already exists

In [14]:

# Find the number of total rows to determine our sampling frequency
rows_df = pd.read_csv("datasets/combined_ridership.csv", encoding='cp1252')

row_count = len(rows_df)

print(f"Total number of rows in the CSV: {row_count}")

Total number of rows in the CSV: 5713141

In [15]:
"""We want a systematic sample of 10,000 rows of data

Therefore, n = 5,713,141 / 10,000

"""
sample_size = 10000
interval = row_count / sample_size

print(f"Interval: {interval}")

Interval: 571.3141

In [16]:
# Use ILOC to pickup every 571 row


sample_df = rows_df.iloc[::571].copy()

if os.path.isfile("datasets/sample_every_571_row.csv"):
    print("sample_every_571_row.csv file already exists")
else:
    sample_df.to_csv("datasets/sample_every_571_row.csv", index=False)
    print("✅ Sampled every 571 row and saved to new file!")

sample_every_571_row.csv file already exists

In [17]:
#Lets see what our data looks like in a PD Dataframe

sample_df.head()

,Ã¯Â»Â¿Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type,Trip Id
0,20148784.0,840,7022,01/01/2023 00:00,Simcoe St / Queen St W,7703.0,01/01/2023 00:14,NaN,1770,Casual Member,NaN
571,20149414.0,1037,7720,01/01/2023 02:17,NaN,7153.0,01/01/2023 02:34,Bloor St W / Christie St,5514,Casual Member,NaN
1142,20150036.0,134,7148,01/01/2023 05:06,King St W / Joe Shuster Way,7148.0,01/01/2023 05:08,King St W / Joe Shuster Way,1068,Casual Member,NaN
1713,20150702.0,900,7227,01/01/2023 11:18,Martin Goodman Trail (Marilyn Bell Park),7322.0,01/01/2023 11:33,King St W / Brant St,6474,Casual Member,NaN
2284,20151407.0,126,7389,01/01/2023 15:03,College Park- Gerrard Entrance,7012.0,01/01/2023 15:05,Elizabeth St / Edward St (Bus Terminal),3445,Casual Member,NaN

In [49]:
#Split data in Start time so the date and time have their own columns (for start and end date/time)

if ('Start Date' not in sample_df.columns and 'End Date' not in sample_df.columns and 'Time Start' not in sample_df.columns and 'Time End' not in sample_df.columns):
    sample_df.loc[:, 'Start Date'] = pd.to_datetime(sample_df.loc[:, 'Start Time']).dt.date
    sample_df.loc[:, 'Time Start'] = pd.to_datetime(sample_df.loc[:, 'Start Time']).dt.time
    sample_df.loc[:, 'End Date'] = pd.to_datetime(sample_df.loc[:, 'End Time']).dt.date
    sample_df.loc[:, 'Time End'] = pd.to_datetime(sample_df.loc[:, 'End Time']).dt.time


    #Drop old Start time and End Time columns and other irrelevant columns
    sample_df = sample_df.drop(columns=['Start Time', 'End Time', 'Trip Id'])

In [50]:
#Replace column name Trip id with Trip Id
sample_df.columns = ['Trip id'] + list(sample_df.columns[1:])
sample_df = sample_df.drop(columns='Trip id')
sample_df.head()

,Start Station Id,Start Station Name,End Station Id,End Station Name,Bike Id,User Type,Start Date,Time Start,End Date,Time End
1142,7148,King St W / Joe Shuster Way,7148.0,King St W / Joe Shuster Way,1068,Casual Member,2023-01-01,05:06:00,2023-01-01,05:08:00
1713,7227,Martin Goodman Trail (Marilyn Bell Park),7322.0,King St W / Brant St,6474,Casual Member,2023-01-01,11:18:00,2023-01-01,11:33:00
2284,7389,College Park- Gerrard Entrance,7012.0,Elizabeth St / Edward St (Bus Terminal),3445,Casual Member,2023-01-01,15:03:00,2023-01-01,15:05:00
3426,7203,Bathurst St/Queens Quay(Billy Bishop Airport),7140.0,Macpherson Ave / Spadina Rd,1286,Annual Member,2023-01-01,20:42:00,2023-01-01,21:07:00
3997,7238,Sorauren/Geoffrey (Sorauren Park) - SMART,7496.0,Sunnyside Ave / The Queensway - SMART,5511,Annual Member,2023-01-02,03:50:00,2023-01-02,03:54:00

In [51]:

#Remove any rows with nan values

sample_df = sample_df.dropna(subset=['Start Station Name', 'End Station Name'])
sample_df.isnull().sum()
sample_df.head()

,Start Station Id,Start Station Name,End Station Id,End Station Name,Bike Id,User Type,Start Date,Time Start,End Date,Time End
1142,7148,King St W / Joe Shuster Way,7148.0,King St W / Joe Shuster Way,1068,Casual Member,2023-01-01,05:06:00,2023-01-01,05:08:00
1713,7227,Martin Goodman Trail (Marilyn Bell Park),7322.0,King St W / Brant St,6474,Casual Member,2023-01-01,11:18:00,2023-01-01,11:33:00
2284,7389,College Park- Gerrard Entrance,7012.0,Elizabeth St / Edward St (Bus Terminal),3445,Casual Member,2023-01-01,15:03:00,2023-01-01,15:05:00
3426,7203,Bathurst St/Queens Quay(Billy Bishop Airport),7140.0,Macpherson Ave / Spadina Rd,1286,Annual Member,2023-01-01,20:42:00,2023-01-01,21:07:00
3997,7238,Sorauren/Geoffrey (Sorauren Park) - SMART,7496.0,Sunnyside Ave / The Queensway - SMART,5511,Annual Member,2023-01-02,03:50:00,2023-01-02,03:54:00

In [44]:




sample_df['Trip id'] = sample_df['Trip id'].fillna(0)
sample_df['Trip id'] = sample_df['Trip id'].map(lambda x: int(x))






print("✅ DateTime column successfully split into Date and Time columns!")

sample_df.to_csv("datasets/final_sample.csv", index=False)
print("Generated cleaned sample file")

✅ DateTime column successfully split into Date and Time columns!
Generated cleaned sample file

In [45]:
#Print final 
print(f"{len(sample_df)}")
sample_df.head()

8113

,Trip id,Trip Duration,Start Station Id,Start Station Name,End Station Id,End Station Name,Bike Id,User Type,Start Date,Time Start,End Date,Time End
1142,20150036,134,7148,King St W / Joe Shuster Way,7148.0,King St W / Joe Shuster Way,1068,Casual Member,2023-01-01,05:06:00,2023-01-01,05:08:00
1713,20150702,900,7227,Martin Goodman Trail (Marilyn Bell Park),7322.0,King St W / Brant St,6474,Casual Member,2023-01-01,11:18:00,2023-01-01,11:33:00
2284,20151407,126,7389,College Park- Gerrard Entrance,7012.0,Elizabeth St / Edward St (Bus Terminal),3445,Casual Member,2023-01-01,15:03:00,2023-01-01,15:05:00
3426,20152688,1493,7203,Bathurst St/Queens Quay(Billy Bishop Airport),7140.0,Macpherson Ave / Spadina Rd,1286,Annual Member,2023-01-01,20:42:00,2023-01-01,21:07:00
3997,20153366,295,7238,Sorauren/Geoffrey (Sorauren Park) - SMART,7496.0,Sunnyside Ave / The Queensway - SMART,5511,Annual Member,2023-01-02,03:50:00,2023-01-02,03:54:00